<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl" (recipeSelectedEvent)="onRecipeSelected(recipeEl)"></app-recipe-item>
  </div>
</div>


<!--
<img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px">
on peut utiliser le property binding avec src : [src]"recipe.imagePath"
<img [src]"recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px">
-->
